# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor settings
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore executables and binaries
*.exe
*.dll
*.cmd

# Ignore package folders (if ever created)
node_modules/
